*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

/* NAVIGATION */
nav{
    width: 225px;
    height: 100%;
    background-color: black;
}

.menu{
    width: 100%;
    height: calc(100% - 125px);
    overflow: hidden;
}

.menu .logo{
    display: flex;
    justify-content: center;
}

.menu .logo .logo-big{
    width: 200px;
    padding: 20px 10px;
}

.menu .logo .logo-small{
    width: 25px;
    display: none;
    padding-top: 10px;
}

.menu .main-menu{
    color: #838383;
}

.menu .main-menu .icon-list li{
    font-size: 1.3rem;
    list-style: none;
    padding: 10px 20px;
    display: flex;
}

.menu .main-menu .icon-list li:hover,
.menu .main-menu .playlist .btn:hover span,
.playlist .playlist-list .playlist-name li:hover{
    cursor: pointer;
    color: white;
}

.menu .main-menu .playlist .btn:hover button{
    background-color: white;
}

.menu .main-menu .icon-list li img{
    width: 25px;
    margin-right: 5px;
}

.no-active{
    border-left: 5px solid black;
}

.active{
    border-left: 5px solid #B5FF31;
    color: white;
}

.menu .main-menu .playlist{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu .main-menu .playlist span:first-child{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.menu .main-menu .playlist .btn{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.menu .main-menu .playlist .btn button{
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    background-color: #838383;
}

.menu .main-menu .playlist .btn span{
    padding-left: 15px;
    font-size: 1.3rem;
}

.playlist .playlist-name{
    padding: 15px 0px;
}

.playlist .playlist-list{
    max-height: 300px;
    overflow: auto;
}

.playlist .playlist-list .playlist-name li{
    list-style: none;
    font-size: .9rem;
    padding: 5px 0px;
}

.profile{
    width: 100%;
    height: 125px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile div{
    display: flex;
    color: #838383;
    width: 85%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.profile div:first-child{
    border-bottom: 1px solid #838383;
}

.profile div img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.profile .account img{
    background-color: #838383;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.profile div span{
    font-size: .9rem
    ;
}

.profile .account span{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}



/* MUSIC */
.music{
    width: calc(100% - 225px);
    height: 100%;
    background-color: blue;
    border: 1px solid black;
    overflow: auto;
}

.music .upgrade{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    border: 1px solid black;
    position: fixed;
    z-index: 99;
}

/* PLAYER */
.player{
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* MEDIA QUERY */

@media screen and (max-width:500px){
    nav{
        width: 50px;
    }

    .music{
        width: calc(100% - 50px);
    }

    .menu .logo .logo-big{
        display: none;
    }

    .menu .logo .logo-small{
        display: block;
    }

    .menu .main-menu .icon-list span{
        display: none;
    }

    .menu .main-menu .icon-list .no-active,
    .menu .main-menu .icon-list .active{
        border: none;
    }

    .menu .main-menu .icon-list li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
    }

    .menu .main-menu .playlist{
        display: none;
    }

    .profile div{
        justify-content: center;
    }

    .profile div span{
        display: none;
    }
    
}

@media screen and (max-height: 350px) {
    .profile{
        display: none;
    }
    .menu{
        height: 100%;
    }
    
}