*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

/* NAVIGATION */
nav{
    width: 225px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.menu{
    width: 100%;
    height: calc(100% - 125px);
    min-height: 400px;
    overflow: hidden;
}

.menu .logo{
    display: flex;
    justify-content: center;
}

.menu .logo .logo-big{
    width: 200px;
    padding: 20px 10px;
}

.menu .logo .logo-small{
    width: 25px;
    display: none;
    padding-top: 10px;
}

.menu .main-menu{
    color: #838383;
    height: 80%;
}

.menu .main-menu .icon-list li{
    font-size: 1.3rem;
    list-style: none;
    padding: 10px 20px;
    display: flex;
}

.menu .main-menu .icon-list li:hover,
.menu .main-menu .playlist .btn:hover span,
.playlist .playlist-list .playlist-name li:hover,
.profile .download span:hover,
.music .navigation ul li:hover{
    cursor: pointer;
    color: white;
}

.menu .main-menu .playlist .btn:hover button{
    background-color: white;
    cursor: pointer;
}

.menu .main-menu .icon-list li img{
    width: 25px;
    margin-right: 5px;
}

.no-active{
    border-left: 5px solid black;
}

.menu .main-menu .icon-list .active{
    border-left: 5px solid #B5FF31;
    color: white;
}

.menu .main-menu .playlist{
    padding: 15px 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.menu .main-menu .playlist span:first-child{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.menu .main-menu .playlist .btn{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.menu .main-menu .playlist .btn button{
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    background-color: #838383;
}

.menu .main-menu .playlist .btn span{
    padding-left: 15px;
    font-size: 1.3rem;
}

.playlist .playlist-name{
    padding: 15px 0px;
}

.playlist .playlist-list{
    overflow: auto;
    height: 80%;
}

.playlist .playlist-list .playlist-name li{
    list-style: none;
    font-size: .9rem;
    padding: 5px 0px;
}

.profile{
    width: 100%;
    height: 125px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.profile div{
    display: flex;
    color: #838383;
    width: 85%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.profile div:first-child{
    border-bottom: 1px solid #838383;
}

.profile div svg{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: #838383;
}

.profile .account svg{
    background-color: #838383;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    fill: white;
}

.profile div span{
    font-size: .9rem
    ;
}

.profile .account span{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}




/* MUSIC */
.music{
    width: calc(100% - 225px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
    padding-top: 120px;
}

.upgrade{
    width: calc(100% - 225px);
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}

.upgrade .btn{
    padding: 10px;
}

.upgrade .btn button{
    color: white;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 15px 30px;
}

.music .navigation{
    color: #838383;
    font-weight: bold;
}

.music .navigation ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.music .navigation ul li{
    list-style: none;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music .navigation ul li .dot{
    width: 30px;
    border-bottom: 3px solid #141922;
    padding-top: 5px;
}

.music .navigation ul li:hover .dot{
    border-bottom: 3px solid #B5FF31;
}

.music .navigation ul .active .dot{
    border-bottom: 3px solid #B5FF31;
}

.music .recent{
    padding: 40px 20px;
}

.music .recent h2{
    color: white;
    font-size: 2rem;
    padding-bottom: 20px;
}

.music .recent .row{
    width: 100%;
    height: 500px;
    display: flex;
}

.music .recent .row .col{
    width: calc(100%/6);
    max-width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music .recent .row .col .card{
    width: 95%;
    height: 95%;
}

.music .recent .row .col .card .img{
    width: 100%;
}


.music .recent .row .col .card .img img{
    width: 100%;
    object-fit: cover;
}

.music .recent .row .col .card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.music .recent .row .col .card .text h3{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.music .recent .row .col .card .text span{
    color: #838383;
    font-weight: bold;
}


/* PLAYER */
.player{
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* MEDIA QUERY */

@media screen and (max-width:500px){
    nav{
        width: 50px;
    }

    .music{
        width: calc(100% - 50px);
    }

    .upgrade{
        width: calc(100% - 50px);
    }

    .menu .logo .logo-big{
        display: none;
    }

    .menu .logo .logo-small{
        display: block;
    }

    .menu .main-menu .icon-list span{
        display: none;
    }

    .menu .main-menu .icon-list .no-active,
    .menu .main-menu .icon-list .active{
        border: none;
    }

    .menu .main-menu .icon-list li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
    }

    .menu .main-menu .playlist{
        display: none;
    }

    .profile div{
        justify-content: center;
    }

    .profile div span{
        display: none;
    }
    
}
