*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

/* NAVIGATION */
nav{
    width: 225px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.menu{
    width: 100%;
    height: calc(100% - 125px);
    min-height: 400px;
    overflow: hidden;
}

.menu .logo{
    display: flex;
    justify-content: center;
}

.menu .logo .logo-big{
    width: 200px;
    padding: 20px 10px;
}

.menu .logo .logo-small{
    width: 25px;
    display: none;
    padding-top: 10px;
    margin-right: 3px;
}

.menu .main-menu{
    color: #838383;
    height: 80%;
}

.menu .main-menu .icon-list li{
    font-size: 1.3rem;
    list-style: none;
    padding: 10px 20px;
    display: flex;
}

.menu .main-menu .icon-list li svg{
    width: 25px;
    margin-right: 5px;
    fill: #838383;
}

.no-active{
    border-left: 5px solid black;
}

.menu .main-menu .icon-list .active{
    border-left: 5px solid #B5FF31;
    color: white;
}

.menu .main-menu .icon-list .active svg{
    fill: white;
}

.menu .main-menu .playlist{
    padding: 15px 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.menu .main-menu .playlist span:first-child{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.menu .main-menu .playlist .btn{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.menu .main-menu .playlist .btn button{
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    background-color: #838383;
}

.menu .main-menu .playlist .btn span{
    padding-left: 15px;
    font-size: 1.3rem;
}

.playlist .playlist-name{
    padding: 15px 0px;
}

.playlist .playlist-list{
    overflow: auto;
    height: 80%;
}

.playlist .playlist-list .playlist-name li{
    list-style: none;
    font-size: .9rem;
    padding: 5px 0px;
}

.profile{
    width: 100%;
    height: 125px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.profile div{
    display: flex;
    color: #838383;
    width: 85%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.profile div:first-child{
    border-bottom: 1px solid #838383;
}

.profile div svg{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: #838383;
}

.profile .account svg{
    background-color: #838383;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    fill: white;
}

.profile div span{
    font-size: .9rem
    ;
}

.profile .account span{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

/* MUSIC */
.music{
    width: calc(100% - 225px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
    padding-top: 120px;
}

.upgrade{
    width: calc(100% - 225px);
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.upgrade .btn{
    padding: 10px;
}

.upgrade .btn button{
    color: white;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 15px 30px;
    margin-right: 20px;
}

.music .navigation{
    color: #838383;
    font-weight: bold;
}

.music .navigation ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.music .navigation ul li{
    list-style: none;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music .navigation ul li .dot{
    width: 30px;
    border-bottom: 3px solid #141922;
    padding-top: 5px;
}

.music .navigation ul .active .dot{
    border-bottom: 3px solid #B5FF31;
}

.music .recent{
    padding-top: 40px;
    padding-left: 20px;
}

.music .recent h2,
.music .create h2,
.music .popular-artist h2{
    color: white;
    font-size: 2rem;
    padding-bottom: 20px;
    padding-left: 13px;
}

.music .recent .row,
.music .create .row,
.music .popular-artist .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.music .recent .row .col,
.music .create .row .col,
.music .popular-artist .row .col{
    width: calc(100%/6);
    max-width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music .recent .row .col .card,
.music .create .row .col .card,
.music .popular-artist .row .col .card{
    width: 95%;
    height: 95%;
}

.music .recent .row .col .card .img,
.music .create .row .col .card .img,
.music .popular-artist .row .col .card .img{
    width: 100%;
    position: relative;
}

.music .recent .row .col .card .img .play,
.music .create .row .col .card .img .play,
.music .popular-artist .row .col .card .img .play{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.play.circle{
    border-radius: 50%;
}


.music .recent .row .col .card .img img,
.music .create .row .col .card .img img,
.music .popular-artist .row .col .card .img img{
    width: 100%;
    object-fit: cover;
}

.music .recent .row .col .card .text,
.music .create .row .col .card .text,
.music .popular-artist .row .col .card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.music .recent .row .col .card .text h3,
.music .create .row .col .card .text h3,
.music .popular-artist .row .col .card .text h3{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.music .recent .row .col .card .text span{
    color: #838383;
    font-weight: bold;
}

.music .create,
.music .popular-artist{
    padding-left: 20px;
}

.music .create h2,
.music .popular-artist h2{
    padding-bottom: 5px;
}

.music .create span,
.music .popular-artist span{
    color: #838383;
    font-size: .9rem;
    padding-left: 13px;
}

.music .create .row,
.music .popular-artist .row{
    padding-top: 15px;
    padding-bottom: 25px;
}

.music .popular-artist .row .col .card .img img{
    border-radius: 50%;
}

/* PLAYER */
.player{
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    z-index: 2;
}

.player .player-left,
.player .player-center,
.player .player-right{
    height: 100%;
    display: flex;
    align-items: center;
}

.player .player-left,
.player .player-right{
    width: 225px;
}

.player .player-center{
    width: 40%;
}

.player .player-left .song{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.player .player-left .song .img{
    width: 30%;
    min-width: 25px;
}

.player .player-left .song .img img{
    width: 100%;
}

.player .player-left .song .text{
    padding-left: 10px;
    font-size: .8rem;
}

.player .player-left .song .text h3{
    color: white;
}

.player .player-left .song .text span{
    color: #838383;
}

.player .player-left .icon{
    color: #838383;
    font-size: 1.1rem;
    display: flex;
}

.player .player-left .icon i{
    padding-left: 10px;
}

.player .player-center{
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}

.player .player-center .start-song{
    display: flex;
    color: white;
    align-items: center;
    height: 50%;
}

.player .player-center .start-song .btn{
    width: 40px;
    text-align: center;
}

.player .player-center .start-song .btn i{
    font-size: 1.1rem;
}

.player .player-center .start-song .btn:nth-child(4){
    transform: rotate(180deg);
}

.player .player-center .start-song .btn .fa-circle-play{
    font-size: 2rem;
}


.player .player-center .scrollbar{
    color: white;
    font-size: .7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .player-center .scrollbar span{
    padding: 0px 20px;
}

.player .player-center .scrollbar .time{
    width: 80%;
    height: 3px;
    border-radius: 30px;
    background-color: #5B5B5B;
    display: flex;
    align-items: center;
}

.player .player-center .scrollbar .time .time-heard{
    width: 25%;
    height: 3px;
    background-color: white;
    border-radius: 30px;
}

.player .player-center .scrollbar .time .circle{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.player .player-right{
    justify-content: center;
}

.player .player-right .icon{
    display: flex;
}

.player .player-right .icon i{
    color: white;
    font-size: .9;
    padding: 5px;
}

.player .player-right .volume{
    width: 40%;
    height: 3px;
    background-color: #5B5B5B;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.player .player-right .volume .volume-heard{
    width: 30%;
    height: 3px;
    background-color: white;
}


.player .player-right .volume .circle{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

/* HOVER */

.menu .main-menu .icon-list li:hover,
.menu .main-menu .playlist .btn:hover span,
.playlist .playlist-list .playlist-name li:hover,
.profile .download:hover span,
.music .navigation ul li:hover{
    cursor: pointer;
    color: white;
}

.menu .main-menu .icon-list li:hover svg{
    fill: white;
}

.profile .download:hover svg{
    fill: white;
}

.menu .main-menu .playlist .btn:hover button{
    background-color: white;
    cursor: pointer;
}

.upgrade .btn button:hover{
    font-size: .9rem;
    cursor: pointer;
}

.music .recent .row .col .card:hover,
.music .create .row .col .card:hover,
.music .popular-artist .row .col .card:hover{
    cursor: pointer;
}

.music .recent .row .col .card:hover .play,
.music .create .row .col .card:hover .play,
.music .popular-artist .row .col .card:hover .play{
    display: flex;
}

.player .player-left .song .text span:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.player .player-left .icon i:hover{
    color: white;
    cursor: pointer;
}

.player .player-center .start-song i:hover{
    cursor: pointer;
}

.player .player-center .start-song .fa-circle-play:hover{
    font-size: 2.5rem;
}

.player .player-center .scrollbar .time:hover,
.player .player-right .volume:hover{
    cursor: pointer;
}

.player .player-center .scrollbar .time:hover .time-heard{
    background-color: #BFF26B;
}

.player .player-center .scrollbar .time:hover .circle{
    display: block;
}

.player .player-right .volume:hover .volume-heard{
    background-color: #BFF26B;
}

.player .player-right .volume:hover .circle{
    display: block;
}

.player .player-right .icon i:hover{
    cursor: pointer;
}

/* MEDIA QUERY */

@media screen and (max-width:900px) {

    .music .recent .row .col,
    .music .create .row .col,
    .music .popular-artist .row .col{
        width: calc(100%/4);
    }

    .player .player-left .icon{
        flex-direction: column;
    }

}


@media screen and (max-width:600px) {

    .music .recent .row .col,
    .music .create .row .col,
    .music .popular-artist .row .col{
        width: calc(100%/2);
    }
}

@media screen and (max-width:500px){
    nav{
        width: 50px;
    }

    .menu .logo .logo-big{
        display: none;
    }

    .menu .logo .logo-small{
        display: block;
    }

    .menu .main-menu .icon-list span{
        display: none;
    }

    .menu .main-menu .icon-list .no-active,
    .menu .main-menu .icon-list .active{
        border: none;
    }

    .menu .main-menu .icon-list li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
    }

    .menu .main-menu .playlist{
        display: none;
    }

    .profile div{
        justify-content: center;
    }

    .profile div span{
        display: none;
    }

    .music{
        width: calc(100% - 50px);
    }

    .upgrade{
        width: calc(100% - 50px);
    }
    
}
